body {
    overflow: hidden;
    background-color: black;
}

.container {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.shape {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .8);
    float: left;
    clip-path: polygon(0 0, 85% 0, 25% 100%, 0% 100%);
}

.shape-sm {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    float: bottom;
    clip-path: polygon(25% 100%, 55% 50%, 45% 100%, 25% 100%);
}

.containerContent {
    position: absolute;
    top: 0;
}

.containerText {
    float: left;
    padding: 20vh 70vh 0vh 5vh;
}

.textMask {
    height: 100vh;
    width: 100vw;
    float: right;
    shape-outside: polygon(60% 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(60% 0, 100% 0, 100% 100%, 0% 100%);
}

.menuBtn {
    cursor: pointer;
}

.content {
    opacity: 0;
}