html {
    scroll-behavior: smooth;
}

.container {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.shape {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .7);
    float: left;
    /* shape-outside: polygon(0 0, 75% 0, 50% 100%, 0% 100%); */
    clip-path: polygon(0 0, 75% 0, 50% 100%, 0% 100%);
}

.containerContent {
    position: absolute;
    top: 0;
}

.containerText {
    float: left;
    padding: 20vh 70vh 0vh 5vh;
}